*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

#springboardCartWrap.affixed {
  position: fixed;
  top: 0;
  z-index: 9999; }

#springboardCartWrap {
  width: 100%; }
  #springboardCartWrap .cartRow {
    position: relative;
    max-width: 70rem;
    display: block;
    margin: 0 auto; }
  #springboardCartWrap .cartRow:after {
    content: "";
    display: table;
    clear: both; }
  #springboardCartWrap .cartRow .spans1 {
    width: 10%;
    display: inline-block;
    float: left;
    display: relative; }
  #springboardCartWrap .cartRow .spans2 {
    width: 20%;
    display: inline-block;
    float: left;
    display: relative; }
  #springboardCartWrap .cartRow .spans3 {
    width: 30%;
    display: inline-block;
    float: left;
    display: relative; }
  #springboardCartWrap .cartRow .spans4 {
    width: 40%;
    display: inline-block;
    float: left;
    display: relative; }
  #springboardCartWrap .cartRow .spans5 {
    width: 50%;
    display: inline-block;
    float: left;
    display: relative; }
  #springboardCartWrap .cartRow .spans6 {
    width: 60%;
    display: inline-block;
    float: left;
    display: relative; }
  #springboardCartWrap .cartRow .spans7 {
    width: 70%;
    display: inline-block;
    float: left;
    display: relative; }
  #springboardCartWrap .cartRow .spans8 {
    width: 80%;
    display: inline-block;
    float: left;
    display: relative; }
  #springboardCartWrap .cartRow .spans9 {
    width: 90%;
    display: inline-block;
    float: left;
    display: relative; }
  #springboardCartWrap .cartRow .spans10 {
    width: 100%;
    display: inline-block;
    float: left;
    display: relative; }
  #springboardCartWrap .bar {
    margin: 0; }
  #springboardCartWrap p {
    margin: .5em 0 .5em 0; }
  #springboardCartWrap a, #springboardCartWrap a:visted, #springboardCartWrap a:hover {
    color: white; }
  #springboardCartWrap #cartDropdown {
    float: right; }
  #springboardCartWrap .arrowIcon {
    size: 12px; }
  #springboardCartWrap .iconWidth {
    max-width: 30px; }
  #springboardCartWrap #productDisplay .innerWrap {
    float: right; }
  #springboardCartWrap .innerWrap .cartRow {
    padding: 5px; }
  #springboardCartWrap .txtRight {
    text-align: right; }
  #springboardCartWrap .txtLeft {
    text-align: left; }
  #springboardCartWrap .borderBottom {
    border-bottom: 1px solid #9E9E9E; }
  #springboardCartWrap .itemCount {
    position: relative;
    right: -2.5%;
    top: -11px;
    font-size: 10px; }
  @media (max-width: 550px) {
    #springboardCartWrap .cartRow .spans1 {
      width: 100%;
      display: block;
      float: left; }
    #springboardCartWrap .cartRow .spans2 {
      width: 100%;
      display: block;
      float: left; }
    #springboardCartWrap .cartRow .spans3 {
      width: 100%;
      display: block;
      float: left; }
    #springboardCartWrap .cartRow .spans4 {
      width: 100%;
      display: block;
      float: left; }
    #springboardCartWrap .cartRow .spans5 {
      width: 100%;
      display: block;
      float: left; }
    #springboardCartWrap .cartRow .spans6 {
      width: 100%;
      display: block;
      float: left; }
    #springboardCartWrap .cartRow .spans7 {
      width: 100%;
      display: block;
      float: left; }
    #springboardCartWrap .cartRow .spans8 {
      width: 100%;
      display: block;
      float: left; }
    #springboardCartWrap .cartRow .spans9 {
      width: 100%;
      display: block;
      float: left; }
    #springboardCartWrap .cartRow .spans10 {
      width: 100%;
      display: block;
      float: left; }
    #springboardCartWrap .cartRow .noStretch.spans1 {
      width: 10%;
      display: inline-block;
      float: left; }
    #springboardCartWrap .cartRow .noStretch.spans2 {
      width: 20%;
      display: inline-block;
      float: left; }
    #springboardCartWrap .cartRow .noStretch.spans3 {
      width: 30%;
      display: inline-block;
      float: left; }
    #springboardCartWrap .cartRow .noStretch.spans4 {
      width: 40%;
      display: inline-block;
      float: left; }
    #springboardCartWrap .cartRow .noStretch.spans5 {
      width: 50%;
      display: inline-block;
      float: left; }
    #springboardCartWrap .cartRow .noStretch.spans6 {
      width: 60%;
      display: inline-block;
      float: left; }
    #springboardCartWrap .cartRow .noStretch.spans7 {
      width: 70%;
      display: inline-block;
      float: left; }
    #springboardCartWrap .cartRow .noStretch.spans8 {
      width: 80%;
      display: inline-block;
      float: left; }
    #springboardCartWrap .cartRow .noStretch.spans9 {
      width: 90%;
      display: inline-block;
      float: left; }
    #springboardCartWrap .cartRow .noStretch.spans10 {
      width: 100%;
      display: inline-block;
      float: left; } }

/*# sourceMappingURL=springboardCart.css.map */
