// Don't edit the .css file. Edit springboardCart.scss!!
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
}
#springboardCartWrap.affixed{
		position: fixed;
		top:0;
		z-index: 9999;
}
#springboardCartWrap{
	width: 100%;

	.cartRow{
		position: relative;
		max-width: 70rem;
		display: block;
		margin: 0 auto;
	}
	.cartRow:after{
		content: "";
		display: table;
		clear: both;
	}
	//lol grid
	.cartRow .span1{width: 10%; display: inline-block; float: left; display: relative;}
	.cartRow .span2{width: 20%; display: inline-block; float: left; display: relative;}
	.cartRow .span3{width: 30%; display: inline-block; float: left; display: relative;}
	.cartRow .span4{width: 40%; display: inline-block; float: left; display: relative;}
	.cartRow .span5{width: 50%; display: inline-block; float: left; display: relative;}
	.cartRow .span6{width: 60%; display: inline-block; float: left; display: relative;}
	.cartRow .span7{width: 70%; display: inline-block; float: left; display: relative;}
	.cartRow .span8{width: 80%; display: inline-block; float: left; display: relative;}
	.cartRow .span9{width: 90%; display: inline-block; float: left; display: relative;}
	.cartRow .span10{width: 100%; display: inline-block; float: left; display: relative;}

	.bar{
		margin: 0;
	}
	p{
		margin: .5em 0 .5em 0;
	}
	a, a:visted, a:hover{
		color: white;
	}
	#cartDropdown{
		float: right;
	}
	.arrowIcon{
		size: 12px;
	}
	.iconWidth{
		max-width: 30px;
	}
	#productDisplay .innerWrap{
		float:right;
	}
	.innerWrap .cartRow{
		padding: 5px;
	}
	.txtRight{
		text-align: right;
	}
	.txtLeft{
		text-align: left;
	}	
	.borderBottom{
		border-bottom: 1px solid #9E9E9E;
	}
	.itemCount{
		position: relative;
		right:-2.5%;
		top: -11px;
		font-size: 10px;
	}
	@media (max-width: 550px){
		.cartRow .span1{width: 100%; display: block; float: left;}
		.cartRow .span2{width: 100%; display: block; float: left;}
		.cartRow .span3{width: 100%; display: block; float: left;}
		.cartRow .span4{width: 100%; display: block; float: left;}
		.cartRow .span5{width: 100%; display: block; float: left;}
		.cartRow .span6{width: 100%; display: block; float: left;}
		.cartRow .span7{width: 100%; display: block; float: left;}
		.cartRow .span8{width: 100%; display: block; float: left;}
		.cartRow .span9{width: 100%; display: block; float: left;}
		.cartRow .span10{width: 100%; display: block; float: left;}
		.cartRow .noStretch.span1{width: 10%; display: inline-block; float: left;}
		.cartRow .noStretch.span2{width: 20%; display: inline-block; float: left;}
		.cartRow .noStretch.span3{width: 30%; display: inline-block; float: left;}
		.cartRow .noStretch.span4{width: 40%; display: inline-block; float: left;}
		.cartRow .noStretch.span5{width: 50%; display: inline-block; float: left;}
		.cartRow .noStretch.span6{width: 60%; display: inline-block; float: left;}
		.cartRow .noStretch.span7{width: 70%; display: inline-block; float: left;}
		.cartRow .noStretch.span8{width: 80%; display: inline-block; float: left;}
		.cartRow .noStretch.span9{width: 90%; display: inline-block; float: left;}
		.cartRow .noStretch.span10{width: 100%; display: inline-block; float: left;}		

	}
}